* {
    padding: 0;
    margin: 0;
    font-family: Effra, Helvetica, arial, sans-serif;
    font-weight: 100;
}



/***first background*****/
.firstbackground {
    background: linear-gradient(to right, #f45c06 30%, #f3a800 100%);
    height: 410px;
    width: auto;
    text-align: center;
}



/******second layer*************/
.secondlayer {
    position: absolute;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 650px;
    left: 600px;
    box-shadow: 0 10px 8px #888888;
    z-index: 1;
}




.books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    grid-auto-rows: minmax(100px auto);
    margin-top: 10px;
    padding: 1.5em;
}



#bookimage {
    background: linear-gradient(180deg, green 30%, white 100%);
    border-radius: 10px 900px 5px 900px;
}



/********Everything about thirdheader goes here***********/
.thirdlayer {
    position: absolute;
    background: rgb(255, 255, 255);
    height: auto;
    width: 650px;
    left: 90px;
    top: 60px;
    box-shadow: 0 10px 9px #888888;
    z-index: 2;
}


/*******box style*************/
.box {
    position: absolute;
    justify-content: center;
    height: 300px;
    width: 350px;
    z-index: 6;
    left: 150px;
    top: 160px;
    bottom: 0px;
    background-color: white;
    box-shadow: 0 10px 9px #888888;
    border-radius: 20px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    top: 30px;
    text-align: center;
  }


  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
  }




/*******headercolor**********/
#headercolor {
    position: relative;
    background: linear-gradient(to right, #f3a800 0%, #f45c06 30%, #f3a800)100%;
    height: 350px;
    width: auto;
    text-align: center;
    color: white;
}

/*******Login********/
.login {
    position: absolute;
    background-color: rgb(247, 220, 247);
    z-index: 5;
}

p {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

/***Experimenting third overlay pages**/
.thirdgrid>div {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 1em;
}

/***font awesome****/
.fa-book {
    color: red;
    font-size: 50px;
    line-height: 70px;
}

.fa-calendar {
    color: teal;
    font-size: 50px;
    line-height: 70px;
}

.fa-graduation-cap {
    color: goldenrod;
    font-size: 50px;
    line-height: 70px;
}

/*****image control*****/
img {
    width: auto;
    height: auto;
}


/****ThirdGrid*****/
.thirdgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(100px auto);
    margin-top: 150px;
    padding: 1.5em;
}