* {
    padding: 0;
    margin: 0;
}

/***first background*****/
.firstbackground {
    background: linear-gradient(to right, #f45c06 30%, #f3a800 100%);
    height: 410px;
    width: auto;
    text-align: center;
}


/******second layer*************/
.secondlayer {
    position: absolute;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 650px;
    left: 600px;
    box-shadow: 0 10px 8px #888888;
    z-index: 5;


}
.books{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    grid-auto-rows: minmax(100px auto);
    margin-top: 10px;
    padding: 1.5em;
}


/********Everything about thirdheader goes here***********/
.thirdlayer {
    position: absolute;
    background: rgb(255, 255, 255);
    height: auto;
    width: 650px;
    left: 90px;
    top: 60px;
    box-shadow: 0 10px 9px #888888;
    z-index: 2;
}

/*******headercolor**********/
#headercolor {
    position: relative;
    background: linear-gradient(to right, #f3a800 0%, #f45c06 30%, #f3a800)100%;
    height: 350px;
    width: auto;
    text-align: center;
    color: white;
}
/*******Login********/
.login{
    position: absolute;
    background-color: rgb(247, 220, 247);
    z-index: 5;
}

p{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

/***Experimenting third overlay pages**/
.thirdgrid > div {
    background-color: rgb(255, 255, 255 );
    font-size: 15px;
    padding: 1em;
}
/***font awesome****/
.fa-book{
  color: red;
  font-size: 50px;
  line-height: 70px;
}
.fa-calendar{
    color:teal;
    font-size: 50px;
    line-height: 70px;
}
.fa-graduation-cap{
    color:goldenrod;
    font-size: 50px;
    line-height: 70px;
}

/*****image control*****/
img {
    width: auto;
    height: 150px;
}
/****ThirdGrid*****/
.thirdgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(100px auto);
    margin-top: 150px;
    padding: 1.5em;
}